<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>项目的Bundle id，例如com.xxx.xxx</key>
		<string>描述文件名称，例如54xxx76-5xxf-4xxx6-9xx4-1b12exxxxxx99</string>
	</dict>
	<key>teamID</key>
	<string>58xxxxxxLA</string>
</dict>
</plist>
